// ====================================================================
// Colors
// ====================================================================

$light-yellow:            #ffe21d !default;
$yellow:                  #ffd21d !default;
$light-blue:              #24afff !default;
$blue:                    #248bff !default;
$light-red:               #f26c6c !default;
$light-green:             #27b667 !default;
