:root {
  /*colors*/
  --light-yellow:            #ffe21d;
  --yellow:                  #ffd21d;
  --light-blue:              #24afff;
  --blue:                    #248bff;
  --light-red:               #f26c6c;
  --light-green:             #27b667;
  --white:                   #ffffff;

  /*fonts*/
  --font-montserrat: 'Montserrat', sans-serif;

  /*font-sizes*/
  --base-font-size:                16px;
  --base-line-height:              1.5;
  --title-font-size:               32px;
  --title-line-height:             3.0;

}

